body {
  font-family: Arial, Helvetica, sans-serif;
  display:grid;
  place-items: center;
  height: 100vh;
  margin:0;
  background-color: cornflowerblue;
}

h1{
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: #0a3d62;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 1000;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 6px;
  transition: background 0.3s;
}

nav a:hover {
  background: #1e90ff;
}



.calendar {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 30px black;
  overflow: hidden;
  width: 300px;
  color: black;
  padding: 20px;

}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;

}

.btn{
  cursor: pointer;
}
#month-year{
  font-weight: bold;
  font-size: 20px;

 }
.weekday, .days{
 display: flex;
 flex-wrap: wrap;
}
.days{
 height: 240px;
}
.weekday div, .days div{
 width: 14.28%;
 text-align: center;
 padding: 10px 0;
 border-radius: 5px;
}
.days div{
 cursor:pointer;
 transition: backgrouno-color 0.3s;
}
.days div:hover{
 background-color: lightblue;
 color: black;
}
.days .today{
 background-color:rgba(70, 65, 65, 0.386);
 color: black;
}
.days .fade{
 color: lightgray;
}
.days .exam{
  background-color: red;
  color: white;
}